.event-location-block{
    background: $white !important;
    padding: 0;
    .location-box{
        h2,
        .location{
            color: $black;
        }
        a{
            color: $red;
        }
    }
}
