<div class="banner">
    <div class="banner-top">
        <h2 class="banner-logo"><img src="/img/sosz20.png" alt="SOSZ 20"></h2>
    </div><!-- / banner-top -->

    <div class="banner-hashtag">
        <span>@cachirulovalley</span>
        <span>#sosz20 en Twitter</span>
    </div><!-- / banner-top -->

    <p class="banner-date">21 Marzo 2020</p>
    <ul class="banner-countdown">
        <li><span class="days"></span><span class="days_ref">días</span></li>
        <li><span class="hours"></span><span class="hours_ref">horas</span></li>
        <li><span class="minutes"></span><span class="minutes_ref">minutos</span></li>
        <li><span class="seconds"></span><span class="seconds_ref">segundos</span></li>
    </ul><!-- / banner-countdown -->

    <div class="banner-buttons">
        <a class="button" href="https://www.weezevent.com/startup-open-space-2020">Compra ya tu entrada</a>
    </div><!-- / banner-buttons -->

</div><!-- / banner -->
